.invisible {
    display: none;
}

.transparent {
    color: transparent;
}

#default-list-form-box {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.add-new-label-form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.25);
}

.add-new-label-form {
    width: 325px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(98, 34, 131);
    padding: 20px;
}
*/
.legend {
    font-size: 2.5rem;
    color: darkorchid;
    text-align: center;
}

#default-form {
    width: 80%;
    max-width: 1000px;
    background-color: #ffd7ff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(98, 34, 131);
    padding: 20px;
}

#default-legend {
    font-size: 2.5rem;
    color: darkorchid;
    margin: 10px;
}

.list {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(98, 34, 131);
}

/*
.glow {
    box-shadow: 7px 7px 5px #ffb6ff, -7px -7px 5px #ffb6ff, -7px 7px 5px #ffb6ff, 7px -7px 5px #ffb6ff;
}
*/

.list-top-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.info-icon {
    grid-column: 1 / 2;
    justify-self: start;
}

.description {
    max-width: 300px;
    font-size: 1.2rem;
    text-align: center;
    color: darkmagenta;
    background-color: #ffb6ff;
    position: absolute;
    align-self: flex-start;
    margin-left: 25px;
    padding: 10px;
    border-radius: 10px;
}

.list-name {
    font-size: 2rem;
    color: darkorchid;
    text-decoration: underline;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}

.edit-exit-svg-pair {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    border: 2px dashed transparent;
}

.date-label-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.posted-date {
    background-color: #fff2ff;
    text-decoration: underline;
    color: darkorchid;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 5px;
}

#default-label-box { /* defaultListLabelBox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.task-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
    border: 2px dashed blue;
}

/* STYLING FOR THE DEFAULT LIST TAGS */
.posted-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgba(148, 0, 211, 0.75);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    padding: 5px 10px;
}

/* STYLING FOR THE DEFAULT LIST FORM TAG BOXES */
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STYLING FOR THE DEFAULT LIST FORM TAGS */
.label-option {
    border-radius: 25px;
    justify-content: center;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    width: fit-content;
    border: 3px solid transparent;
    margin: 5px 5px 5px 0px;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.checkbox:checked + .label-option {
    background-color: darkviolet;
}

.add-tag-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.add-tag {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 3px solid transparent;
    background-color: white;
    color: orchid;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 2px 10px 2px 5px;
    margin: 5px 5px 5px 0px;
    cursor: pointer;
}

.add-tag:hover {
    box-shadow: 2px 0px 5px violet, 0px 2px 5px violet, -2px 0px 5px violet, 0px -2px 5px violet;
}

.off {
    background-color: violet;
}

.off:hover {
    border-color: darkviolet;
}

.inactive {
    background-color:rgb(192, 188, 192);
    color: gray;
    cursor: default;
}

.pictographs {
    display: flex;
    flex: 1;
}

.date-popup {
    font-size: 1.2rem;
    color: darkmagenta;
    background-color: #ffb6ff;
    position: absolute;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid darkmagenta;
}

.edit-icon, .exit-icon, .add-icon, .delete-icon, .empty-priority-icon, .date-icon, .check-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.edit-icon:hover, .exit-icon:hover, .add-icon:hover, .delete-icon:hover, .empty-priority-icon:hover, .date-icon:hover, .check-icon:hover {
    background-color: orchid;
}

.block {
    display: flex;
    width: 100%;
}

form {
    width: 100%;
}

fieldset {
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fieldset-border {
    border: 1px solid darkorchid;
}

.task-bar {
    width: 100%;
    display: flex;
    margin: 0;
}

.task-property {
    display: flex;
    margin: 0 5px;
}

.property-div {
    display: flex;
    margin: 0 5px;
}

.double-div {
    gap: 10px;
}

.half-property {
    width: 100%;
    display: flex;
}

label {
    font-size: 1.25rem;
    color: darkorchid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
    width: 100px;
}

.textarea-label {
    align-items: flex-start;
}

.priority-label {
    width: 55px;
    justify-content: flex-start;
}

input:focus, textarea:focus, select:focus {
    background-color: #ffb6ff;
    color: darkorchid;
}

.half-input {
    height: 25px;
    font-size: 1.25rem;
    color: orchid;
    padding-left: 10px;
    background-color: rgba(221, 160, 221, 0.25);
    cursor: text;
    border: none;
    outline: none;
    flex: 1;
}

.input-task {
    height: 25px;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: orchid;
    padding-left: 10px;
    margin: 0 5px;
    background-color: rgba(221, 160, 221, 0.25);
    cursor: text;
    border: none;
    outline: none;
}

.invalid {
    height: 25px;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 10px;
    margin: 0 5px;
    background-color: white;
    cursor: text;
    border: 2px solid red;
    outline: none;
}

.invalid:focus {
    background-color: white;
    color: black;
}

#add-task-box {
    display: flex;
    width: 75%;
}

.dummy-input {
    height: 25px;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: orchid;
    padding-left: 10px;
    margin: 0 5px;
    background-color: rgba(255, 216, 255, 0.25);
    border: 1px solid rgb(255, 178, 252);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.notes-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shift-down {
    margin-top: 50px;
}

.full-task {
    width: 100%;
    display: flex;
    align-items: center;
}

.full-task:hover {
    background-color: #ffd7ff;
    padding: 0 5px;
    border-radius: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border: 3px solid darkorchid;
    border-radius: 50%;
}

.circle:hover {
    border-color: orchid;
}

.task-paragraph {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 10px;
    height: 25px;
}

.strike-through {
    text-decoration: line-through;
}

.tag-box {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-element {
    flex: 1;
    height: 25px;
    font-size: 1.25rem;
    color: orchid;
    padding-left: 10px;
    background-color: rgba(221, 160, 221, 0.25);
    cursor: text;
    border: none;
    outline: none;
}

textarea {
    height: 5rem;
    vertical-align: top;
    background-color: rgba(221, 160, 221, 0.25);
    font-size: 1.25rem;
    font-family: sans-serif;
    color: orchid;
    padding-left: 10px;
    padding-top: 5px;
    cursor: text;
    flex: 7;
    border: none;
    outline: none;
}

.drop-box {
    height: 25px;
    width: 150px;
    border: 1px solid darkorchid;
    color: orchid;
    background-color: rgba(221, 160, 221, 0.25);
    text-align: center;
}


.red-border {
    height: 25px;
    width: 150px;
    border: 2px solid red;
    color: orchid;
    background-color: rgba(221, 160, 221, 0.25);
    text-align: center;
}

.submit-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    gap: 50px;
}

.cancel-button {
    background-color: #9c669a;
    color: white;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
}

.cancel-unpressed {
    border-top: 2px solid #9c669a;
    border-left: 2px solid #9c669a;
    border-right: 2px solid #4b1964;
    border-bottom: 2px solid #4b1964;
}

.cancel-pressed {
    border-top: 2px solid #4b1964;
    border-left: 2px solid #4b1964;
    border-right: 2px solid #9c669a;
    border-bottom: 2px solid #9c669a;
}

.submit-button {
    background-color: orchid;
    color: white;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.unpressed {
    border-top: 2px solid orchid;
    border-left: 2px solid orchid;
    border-right: 2px solid darkorchid;
    border-bottom: 2px solid darkorchid;
}

.pressed {
    border-top: 2px solid darkorchid;
    border-left: 2px solid darkorchid;
    border-right: 2px solid orchid;
    border-bottom: 2px solid orchid;
}

.task-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.no-task {
    margin-top: 10px;
    font-size: 1.25rem;
    color: orchid;
}

.list-bottom-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.track-task-box {
    align-self: end;
    font-size: 1rem;
    font-weight: bold;
}

.array-number {
 color: darkmagenta;
}

.priority-box {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.empty-box {
    width: 5px;
}

.first-level-priority-box {
    width: 25px;
}

.second-level-priority-box {
    width: 38px;
}

.third-level-priority-box {
    width: 50px;
}

.white-out {
    background-color: white;
    border: 2px solid #ffd7ff;
}

.third-position {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
}

.second-position {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
}

.first-position {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
}

@media (max-width: 650px) {
    .task-bar {
        width: 70vw;
        display: flex;
        margin: 0;
    }

    .property-div {
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0 5px;
    }

    .double-div {
        gap: 5px;
    }

    .half-property {
        width: 100%;
        display: flex;
    }

    .half-property:last-of-type {
        margin-left: 45px;
    }
}